{{title}}

<form method="post" action="/dogodki_uredi">
	<input type='text' name ="cas" value={{do_cas}} />
	<br>
	<input type='text' name ="koordinate" value={{do_koor}} />
	<br>
	<input type='text' name ="uporabnik_id" value={{do_upo}} />
	<br>

	<br>	
	
	<input type="submit" value="Pošlji">
</form>