{{title}}

<form method="post" action="/priljubljene_uredi">
	<input type='text' name ="oznaka" value={{pr_oznaka}} />
	<br>
	<input type='text' name ="koordinate" value={{pr_koor}} />
	<br>
	<input type='text' name ="uporabnik_id" value={{pr_upo}} />
	<br>

	<br>	
	
	<input type="submit" value="Pošlji">
</form>